name: Build

on:
  push:
    branches: 
      - master
      - update-net-9
    paths-ignore:
      - '*.md'
      - '**/.gitignore'
      - 'assets/**/*'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '*.md'
      - '**/.gitignore'
      - 'images/**/*'
  workflow_dispatch:
  workflow_call:
    inputs:
      publish:
        required: true
        type: boolean
        default: false

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        dotnet_version: ['6.0', '8.0', '9.0']
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet_version }}
          cache: true
          cache-dependency-path: Jellyfin.Plugin.Douban/packages.lock.json
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Build and pack package
        env:
          XZ_DOTNET_VERSION: net${{ matrix.dotnet_version }}
          XZ_PUBLISH: ${{ inputs.publish }}
          XZ_GITHUB_RUN: ${{ github.run_number }}
        run: |
          python build.py
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-net${{ matrix.dotnet_version }}
          path: temp/*.zip
